In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Te Horo,NZ,2022-01-29 00:24:21,-40.8084,175.1233,74.88,64,68,7.00
1,1,Nalhati,IN,2022-01-29 00:24:22,24.3000,87.8167,54.54,66,0,6.64
2,2,Vao,NC,2022-01-29 00:24:22,-22.6667,167.4833,78.78,83,100,22.62
3,3,Mayo,US,2022-01-29 00:24:22,38.8876,-76.5119,34.66,93,100,3.00
4,4,Busselton,AU,2022-01-29 00:24:23,-33.6500,115.3333,79.05,50,39,9.15

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vao,NC,2022-01-29 00:24:22,-22.6667,167.4833,78.78,83,100,22.62
4,4,Busselton,AU,2022-01-29 00:24:23,-33.6500,115.3333,79.05,50,39,9.15
5,5,Cayenne,GF,2022-01-29 00:24:23,4.9333,-52.3333,75.09,90,100,4.61
6,6,Tomatlan,MX,2022-01-29 00:24:24,19.9333,-105.2500,81.72,46,82,5.19
7,7,Suba,PH,2022-01-29 00:24:24,10.8438,121.0102,81.59,74,98,2.19
10,10,Salinopolis,BR,2022-01-29 00:24:25,-0.6136,-47.3561,76.53,89,100,12.26
14,14,Morondava,MG,2022-01-29 00:24:26,-20.2833,44.2833,79.65,75,15,1.23
15,15,Port Hedland,AU,2022-01-29 00:24:27,-20.3167,118.5667,82.45,69,80,11.50
24,24,Rikitea,PF,2022-01-29 00:24:30,-23.1203,-134.9692,78.26,69,100,14.18
25,25,Perth,AU,2022-01-29 00:20:35,-31.9333,115.8333,85.66,42,0,12.66

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2            Vao      NC     78.78 -22.6667  167.4833
4      Busselton      AU     79.05 -33.6500  115.3333
5        Cayenne      GF     75.09   4.9333  -52.3333
6       Tomatlan      MX     81.72  19.9333 -105.2500
7           Suba      PH     81.59  10.8438  121.0102
10   Salinopolis      BR     76.53  -0.6136  -47.3561
14     Morondava      MG     79.65 -20.2833   44.2833
15  Port Hedland      AU     82.45 -20.3167  118.5667
24       Rikitea      PF     78.26 -23.1203 -134.9692
25         Perth      AU     85.66 -31.9333  115.8333

In [13]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters'

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vao,NC,78.78,-22.6667,167.4833,Hotel Kou-Bugny
4,Busselton,AU,79.05,-33.6500,115.3333,Observatory Guest House
5,Cayenne,GF,75.09,4.9333,-52.3333,Hôtel Le Dronmi
6,Tomatlan,MX,81.72,19.9333,-105.2500,El Salvial
7,Suba,PH,81.59,10.8438,121.0102,Jarnchi Pension House
10,Salinopolis,BR,76.53,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
14,Morondava,MG,79.65,-20.2833,44.2833,La Case Bambou
15,Port Hedland,AU,82.45,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
24,Rikitea,PF,78.26,-23.1203,-134.9692,People ThankYou
25,Perth,AU,85.66,-31.9333,115.8333,Beatty Lodge

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))