## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Merida,MX,73.02,broken clouds,20.9667,-89.6167,Hotel Nacional Mérida
1,4,Kapaa,US,78.78,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,5,Mataura,NZ,66.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
3,6,Rikitea,PF,78.03,overcast clouds,-23.1203,-134.9692,People ThankYou
4,8,Bluff,NZ,66.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#Choose New Zealand
vacation_df[vacation_df['Country'] == 'NZ']

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,5,Mataura,NZ,66.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,8,Bluff,NZ,66.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
15,53,Te Anau,NZ,70.90,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
20,76,Dunedin,NZ,69.80,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
56,212,Tuatapere,NZ,66.81,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
74,263,Paengaroa,NZ,74.08,clear sky,-37.8167,176.4167,Kiwi Corral
110,384,Waipawa,NZ,72.23,clear sky,-41.4122,175.5153,Tora Coastal Walk
127,444,Kaeo,NZ,72.32,overcast clouds,-35.1000,173.7833,Bushido Lodge
131,454,Ahipara,NZ,74.93,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park

In [6]:
# Pick 4 cities: 5:Mataura,8:Bluff, 53:Te Anau, 212:Tuatapere

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df[vacation_df['City_ID']==5].index,:]
vacation_end = vacation_df.loc[vacation_df[vacation_df['City_ID']==5].index,:]
vacation_stop1 = vacation_df.loc[vacation_df[vacation_df['City_ID']==8].index,:]
vacation_stop2 = vacation_df.loc[vacation_df[vacation_df['City_ID']==53].index,:] 
vacation_stop3 = vacation_df.loc[vacation_df[vacation_df['City_ID']==212].index,:]

In [8]:
# Test to see if code gave correct output
# vacation_start

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0] , vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0] , vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0] , vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0] , vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0] , vacation_stop3['Lng'].to_numpy()[0]

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start,end, waypoints = [stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Mataura,NZ,66.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,8,Bluff,NZ,66.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,53,Te Anau,NZ,70.90,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
3,212,Tuatapere,NZ,66.81,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
4,5,Mataura,NZ,66.47,overcast clouds,-46.1927,168.8643,Ellie's Villa

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure() 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))